.aboutme{
    margin-top: 20px;
}

.aboutme h1{
    margin: 0 25vh;
}

.aboutmeDetail{
    margin: 10px 20vh 0 20vh;
    border-radius: 20px;
    padding: 2vh;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.25);
}

.fullstack{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 3vh;
    width: 75%;
    margin-left: 20vh;
}

.skill h1{
    margin: 30px auto 10px 25vh;
}

.pcontainer{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pcontainer p{
    min-height: 100px;
}

.frontend{
    border-radius: 20px;
    padding: 2vh;
    max-width: 550px;
    min-height: 280px;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.25);
}

.backend{
    border-radius: 20px;
    padding: 2vh;
    max-width: 550px;
    min-height: 280px;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px){
    .aboutme h1{
        margin: 0 10vh;
    }
    .aboutmeDetail{
        margin: 10px 7vh 0 7vh;
        padding: 2vh;
    }
    .fullstack{
        gap: 1vh;
        width: 85%;
        margin-left: 7vh;
    }
    .skill h1{
        margin: 30px auto 10px 10vh;
    }
    .frontend{
        padding: 2vh;
        max-width: 500px;
        min-height: 280px;
    }
    .backend{
        padding: 2vh;
        max-width: 500px;
        min-height: 280px;
    }
}

@media (max-width: 600px){
    .fullstack{
        display: block;
        width: 90%;
        margin-left: 2vh;
    }
    .frontend{
        max-width: 100%;
        padding: 2vh;
    }
    .backend{
        padding: 2vh;
        max-width: 100%;
        margin-top: 20px;
    }
    .skill h1{
        margin: 30px auto 10px 5vh;
    }
    .aboutme h1{
        margin: 0 5vh;
    }
    .aboutmeDetail{
        margin: 10px 2vh 0 2vh;
        padding: 1vh;
    }
}

@media (max-width: 400px){
    .pcontainer{
        grid-template-columns: repeat(1, 1fr);
    }
}