@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root{
    --whitecolor:#fff;
    --blackcolor:#000;
    --dark-bg:#202124;
    --dark-content-bg:#303134;
    --dark-font-color:#e8eaed;
    --dark-border-color:#5f6368;
    --dark-bg-hover:#4f5052;
    --light-content-bg:#f0f2f5;
    --light-font-color:#65676b;
    --light-border-color:#cdcdcd;
    --light-bg-hover:#c2c1c1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Kanit', sans-serif;
    list-style-type: none;
    text-decoration:none;
}

h1{
    font-size: 2.5rem;
}

p{
    font-size: 1.3rem;
}

a{
    color: inherit;
}

.Darkmode{
    color: var(--dark-font-color);    
    background-color: var(--dark-bg);
}

.Dark{
    background-color: var(--dark-content-bg);
}

.Light{
    background-color: var(--light-content-bg);
    color: var(--light-font-color);
}