nav ul{
    display: flex;
    justify-content: right;
    gap: 0.75rem;
}

nav{
    height: 48px;

}

ul{
    height: 100%;
}

li:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.resume{
    font-weight: 600;
    font-size: 18px;
}